@import '~antd/dist/antd.css';

 
.submit_btn{
  margin: 0!important;
}
.content{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  min-height: 100vh;
}
.fff{
  display: inline-flex;
  width: 100%;
  align-items: center;
}
.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.ant-form-item-control-input-content{
  display: inline-flex!important;
  width: 100%!important;
  align-items: center!important;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
  [data-theme="dark"] .site-layout-content {
    background: #141414;
  }
  [data-theme="dark"] .logo {
    background: rgba(255,255,255,0.3);
  }